
$blue: #3c65ff;
$purple: #741cff;
$gray: rgb(76,85,106);

$width: 1200px;

$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1600px;

$border: 1px solid rgba(221,221,223,.5);

.font {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
}
